body {
  background: none;
}

.path--background {
  fill: none;
  stroke: #0000D0;
  stroke-width: 2px;
}

.path--foreground {
  fill: rgb(0.0.0. 0,5);
  }

.label {
  font: 24px sans-serif;
  text-anchor: middle;
}
