.path--background {
  fill: none;
  stroke: #0000D0;
  stroke-width: 2px;
}

.path--foreground {
  fill: rgb(255, 255, 2255, 0.41);
  color: ryb(255, 255, 255, 0.74);
  }

.label {
  font: 24px sans-serif;
  text-anchor: middle;
}
